@import "partials/fonts";
@import "partials/resets";
@import "partials/spacings";
@import "partials/mixin";
@import "partials/variables";
@import "partials/buttons";

header {
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  background-color: $hero-color;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  @include title-big();
}

.test {
  @include floating(10px, 10px 10px 30px rgba(0 0 0 /0.6), 4px solid green);
}

.img-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-grid > div > img {
  width: 100%;
  @include floating(10px, 0, 2px solid rgb(228, 89, 89));
}
