$colors: (
  blue: $primary,
  orange: $secondary,
  green: $tertiary,
);

@each $key, $color in $colors {
  .btn-#{$key} {
    background-color: $color;
    border: 2px solid scale-color($color, $lightness: 20%);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
  }
}
