@mixin title-big() {
  font: {
    size: 44px;
    weight: 600;
  }
  letter-spacing: -2px;
  line-height: 1.2;
}

@mixin floating($radius: 0px, $shadow: 0 0 0 rgb(0 0 0 /0), $border: none) {
  border-radius: $radius;
  box-shadow: $shadow;
  border: $border;
}
